@model EmployeeViewModel

@{
    @*Layout = null;*@
    ViewData["Title"] = "Редактирование Сотрудника";
}

<h4>Сотрудник</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            @*@Html.EditorForModel()*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Id" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateWork" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="DateWork" class="form-control" />
                    <span asp-validation-for="DateWork" class="text-danger"></span>
                </div>
                @*@Html.LabelFor(e => e.DateWork)
                    @Html.EditorFor(e => e.DateWork)
                    @Html.ValidationMessageFor(e => e.DateWork)*@
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Сохранить" class="col-md-2 btn btn-default" />
                </div>
            </div>
        </form>

    </div>
</div>
<hr />
<a asp-action="Index">Список Сотрудников</a>
